body {
    margin: 0;
    height: 100vh; /* Altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-comida-rapida-dibujado-mano_52683-21980.jpg'); /* URL de la imagen de fondo */
    background-size: 100%; 
    background-position: center;
    
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    z-index: 2; 
    position: relative; 
}

.button-container {
    border: 2px solid black; /* Agrega un borde alrededor del contenedor */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 50px; /* Añade espacio dentro del contenedor */
    background-color: #ffffff; /* Cambia el color de fondo del contenedor */
    width: 200px; /* Define un ancho fijo para el cuadro */
}

button {
    margin: 10px; 
    padding: 20px 25px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    background-color: #242526; 
    color: white; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3;  
}
