/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif; /* Fuente más legible */
    background-color: #ffffff; /* Color de fondo suave */
    margin: 0;
    padding: 20px;
}

/* Estilos para la tarjeta del login */
.card {
    background-color: rgba(255, 251, 0, 0.24); /* Fondo blanco suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Título de la tarjeta */
.card-title {
    font-size: 24px; /* Tamaño del texto */
    color: #009425; /* Color oscuro */
    margin: 0; /* Sin margen */
}

/* Estilo de los botones */
.btn {
    background-color: #009425; /* Color verde oscuro */
    color: #ffffff; /* Texto del botón en blanco */
    border-radius: 5px; /* Bordes redondeados para el botón */
}

/* Efecto al pasar el ratón por encima del botón */
.btn:hover {
    background-color: #007f20; /* Color más oscuro al pasar el ratón */
}

/* Estilo de los campos de entrada */
.input-field input {
    background-color: #ffffff; /* Fondo de los campos de entrada */
    color: #000000; /* Texto en negro */
}

/* Estilo de las etiquetas de los campos de entrada */
.input-field label {
    color: #807e7e; /* Color de las etiquetas */
}

/* Estilo de las etiquetas de entrada en foco */
.input-field input:focus + label {
    color: #009425; /* Color de la etiqueta al enfocar */
}

/* Estilo de los iconos en los campos de entrada */
.input-field .prefix {
    color: #009425; /* Color de los iconos */
}

/* Estilo para los iconos de Materialize */
.material-icons {
    vertical-align: middle; /* Alineación vertical */
}
