body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212; 
    color: #f1f1f1;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #1c1c1c; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50; 
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #555; 
    border-radius: 4px;
    background-color: #333; 
    color: #ffffff; 
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50; 
    outline: none;
}

button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}


#btnCrear {
    background-color: #28a745; 
}

#btnActualizar {
    background-color: #ffc107;
}
#btnVolver{
    background-color:crimson
}
#btnCancelar {
    background-color: #dc3545; 
    color: #f1f1f1;
}

button:hover {
    opacity: 0.9; 
    transform: translateY(-2px); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #444; 
    padding: 8px; 
    text-align: left;
}

th {
    background-color: #333; 
    color: #f1f1f1; 
}

/* Estilo para botones en la tabla */
.btnEditar {
    background-color: #ffc107; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

.btnEliminar {  
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

table tr:hover {
    background-color: #222; 
}

td button {
    margin: 0 5px; 
}
